.commonInput {
  border-radius: 4px;
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  width: 400px;
  text-align: right;
}
.unableText {
  border: none;
  background-color: transparent;
  pointer-events: none;
  width: auto;
}
#bd,
#bg {
  border-bottom: 20px solid #f6f6f6;
}
.addWrapper + .infoWrapper .deinfoList::after {
  height: calc(60%);
}
.rightIcon {
  width: 30px;
  height: 30px;
  background: url('~@/static/images/bjicon.png') 0 0 no-repeat;
  background-size: cover;
}
.addWrapper {
  height: 90px;
  color: #388CFF;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addWrapper .addIcon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background: url('~@/static/images/add.png') 0 0 no-repeat;
  background-size: cover;
}
.viewIcon {
  background: url('~@/static/images/view.png') 0 0 no-repeat;
  background-size: cover;
  width: 37px;
  height: 23px;
}
.shBtn {
  padding: 0 15px;
  font-size: 24px;
  line-height: 36px;
  border-radius: 18px;
  height: 36px;
  color: #fff;
  background-color: #388CFF;
  margin-left: 20px;
}
.viewIcon {
  margin-right: 20px;
}
.avator {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-top: 10px;
}
