html {
  color: #000;
  background: #fff;
  font-size: 10vw;
  height: 100%;
}
body {
  font-family: 'SourceHanSansCN-Regular', '微软雅黑', "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  line-height: 1;
  font-size: 14Px;
  color: #999;
  height: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 28px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
input,
select,
textarea {
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  font-family: 'SourceHanSansCN-Regular', '微软雅黑', "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
input,
textarea,
button {
  border: none;
}
textarea {
  resize: none;
}
button {
  -webkit-appearance: none;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
img {
  display: inline-block;
  width: 100%;
  height: auto;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.sprite2 {
  width: 100%;
  height: 20px;
  background-color: #f6f6f6;
}
input,
textarea,
button {
  outline: none;
}
